<div class="container">
    <div class="row">
        <table class="table table-striped custab">
            <thead>
                <button (click)="nuevo(template)" class="btn btn-primary btn-xs pull-right"><b>+</b>Nuevo</button>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tr *ngFor="let art of articulos">
                <td>{{art.nombre}}</td>
                <td>{{art.description}}</td>
                <td>{{art.precio}}</td>
                <td class="text-center">
                    <button (click)="editar(art, template)" class='btn btn-info btn-xs'>
                        <span class="glyphicon glyphicon-edit"></span> Editar
                    </button>
                    <button (click)=borrar(art) class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>Borrar
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <div class="modal-body">

        <div *ngIf="!formArticulo.valid" class="alert alert-danger" role="alert">
            El Formulario es invalido
        </div>
        <div *ngIf="formArticulo.valid" class="alert alert-success" role="alert">
            El formulario es correcto
        </div>

        <div [formGroup]="formArticulo">
            {{ formArticulo.value | json }}
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input formControlName="nombre" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter nombre">
                <!--  <small *ngIf="formArticulo.get('nombre').errors?.required" id="emailHelp" class=form-text text-muted -->
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Marca</label>
                <input formControlName="marca" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter marca">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Precio</label>
                <input formControlName="precio" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter precio">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input formControlName="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <input formControlName="description" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter description">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Promotion</label>
                <input formControlName="promotion" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter promotion">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">ID</label>
                <input formControlName="id" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter id">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Categoria</label>
                <input formControlName="categoria" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter categoria">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>

            <div class="modal-body">
                <button (click)="agregar()">Agregar</button>
            </div>
        </div>
    </div>
</ng-template>