<div class="container">
    <div class="row">
        <table class="table table-striped custab">
            <thead>
                <button (click)="nuevo(template)" class="btn btn-primary btn-xs pull-right"><b>+</b>Nuevo</button>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Parent ID</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tr *ngFor="let art of articulos">
                <td>{{art.nombre}}</td>
                <td>{{art.description}}</td>
                <td>{{art.precio}}</td>
                <td class="text-center"><button class='btn btn-info btn-xs'>
                    <span class="glyphicon glyphicon-edit"></span> Editar</button>
                    <button (click)=borrar(art) class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove"> 
                    </span>Borrar</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <button (click)="agregar()">Agregar</button>
    </div>
</ng-template>